<div class="footer">
    <div class="footer-div1">
        <p>Address</p>
        <div class="footer-div2">
            <i class="fa-solid fa-location-dot"></i>
            <a href="#"><p>Location</p></a>
        </div>
        <div class="footer-div2">
            <i class="fa-solid fa-phone"></i>
            <a href="#"><p>Call +01 1234567890</p></a>
        </div>
        <div class="footer-div2">
            <i class="fa-solid fa-envelope"></i>
            <a href=""><p>mail@domain.com</p></a>
        </div>
        <div class="footer-div2">
            <i class="fa-brands fa-facebook-f media"></i>
            <i class="fa-brands fa-twitter media"></i> 
            <i class="fa-brands fa-linkedin-in media"></i>
            <i class="fa-brands fa-instagram media"></i>
        </div>
    </div>
    <div class="footer-div1">
        <p>Info</p>
        <p class="link-p" id="link-p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis animi dolorum facere fugiat veniam repellat asperiores consequatur. Doloremque, amet quas!</p>
    </div>
    <div class="footer-div1">
        <p>Links</p>
        <p class="link-p">Home</p>
        <p class="link-p">About</p>
        <p class="link-p">Services</p>
        <p class="link-p">Why Us</p>
        <p class="link-p">Team</p>
    </div>
    <div class="footer-div1 subscribe">
        <p>Subscribe</p>
        <input type="text">
        <button>Subscribe</button>
    </div>
</div>
