<div class="whyus">
    <p>Why Choose Us</p>
    <div class="whyus-div1">
        <div class="whyus-div2">
            <img src="assets/whyus-img/w1.png" alt="">
            <p>Expert Management</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero harum omnis aliquid dolores deleniti numquam neque minima dolor. Error sed aut aspernatur quis dolorem facere assumenda natus omnis magnam est culpa vel consequuntur nostrum pariatur maxime, voluptates obcaecati quos sit hic blanditiis deserunt neque possimus.</p>
        </div>
        <div class="whyus-div2">
            <img src="assets/whyus-img/w2.png" alt="">
            <p>Secure Investment</p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eveniet optio minus qui ipsa inventore, quasi sint eligendi sit culpa neque dolorum ad, excepturi voluptatum iure cumque. Natus rem ea aspernatur error impedit cum perspiciatis tenetur dolor perferendis. Pariatur nemo fugiat quibusdam libero. Distinctio, voluptates a!</p>
        </div>
        <div class="whyus-div2">
            <img src="assets/whyus-img/w3.png" alt="">
            <p>Instant Trading</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat fugiat doloremque, aspernatur minus inventore voluptatem quas in, voluptatibus unde consequuntur illo quod ullam sapiente? Necessitatibus ab error id sapiente possimus, soluta enim quo dignissimos vero ratione fugiat iure, officia eius quod expedita. Unde, debitis nulla.</p>
        </div>
        <div class="whyus-div2">
            <img src="assets/whyus-img/w4.png" alt="">
            <p>Happy Customers</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit ex repellendus dolorum ea consectetur culpa at corporis neque in numquam sequi est alias sunt accusantium enim ipsam nesciunt iure esse architecto, sit maiores ab rem! Eligendi incidunt iure expedita, quidem ea iste unde harum facilis.</p>
        </div>
        <button><a href="Readmore">Read More</a></button>
    </div>
</div>