<div class="about">
    <p>About us</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae eaque repellat cupiditate ratione accusantium laboriosam ad amet.</p>
    <div class="about-div1">
        <img src="assets/about-img/about-img.png" alt="">
        <div class="about-cont">
            <p>We Are Finexo</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, aut. Voluptatibus voluptates nobis tempore saepe dignissimos esse doloremque minima quam fugiat fugit earum eos minus temporibus, rem, impedit in tempora eum exercitationem soluta? Voluptas quibusdam ut perferendis, at, iure debitis vitae doloribus ipsa illo quod totam ab, architecto quasi Lorem ipsum, dolor sit amet consectetur adipisicing elit. Architecto non, a doloremque totam nam ipsa fugit placeat suscipit odio eveniet dolores dicta. 
                <br><br>Adipisci consequatur possimus accusantium vitae soluta reprehenderit eveniet officiis ipsum animi vel earum deleniti, ducimus nostrum illo quae, obcaecati cupiditate veniam rem nesciunt doloribus ipsam ad. Eligendi, repellendus?</p>
            <button><a href="">Read More</a></button>
        </div>
    </div>
</div>
