<div class="service">
    <div class="service-div1">
        <p>Our Services</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt temporibus saepe deleniti culpa vitae quos. Esse natus harum reiciendis culpa.</p>
    </div>
    <div class="service-flex">
        <div class="serivce-flexcont">
            <img src="assets/service-img/s1.png" alt="">
            <p>CURRENCY WALLET</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia corrupti veritatis mollitia obcaecati odit corporis, modi eum et sint voluptas!</p>
            <a href="">Read More</a>
        </div>
        <div class="serivce-flexcont">
            <img src="assets/service-img/s2.png" alt="">
            <p>SECURITY STORAGE</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia corrupti veritatis mollitia obcaecati odit corporis, modi eum et sint voluptas!</p>
            <a href="">Read More</a>
        </div>
        <div class="serivce-flexcont">
            <img src="assets/service-img/s3.png" alt="">
            <p>EXPERT SUPPORT</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia corrupti veritatis mollitia obcaecati odit corporis, modi eum et sint voluptas!</p>
            <a href="">Read More</a>
        </div>
    </div>
</div>