.nav ul 
{
    display: flex;
    z-index: 100;
    position:sticky;
    top: 0;
}
.nav ul li a 
{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    margin: 0px 25px;
    font-size: 18px;

}
.nav ul li a:hover
{
    color:rgb(29, 29, 240);
} 
