<div class="team">
    <p>Our Team</p>
    <div class="team-div1">
        <div class="team-div2">
            <img src="assets/team-img/team-1.jpg" alt="">
            <p>Joseph Brown</p>
            <p>Marketing Head</p>
            <div class="team-div3">
                <i class="fa-brands fa-facebook-f"></i>
                <i class="fa-brands fa-twitter"></i> 
                <i class="fa-brands fa-linkedin-in"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-youtube"></i>
            </div>
        </div> 
        <div class="team-div2">
            <img src="assets/team-img/team-2.jpg" alt="">
            <p>Nancy White</p>
            <p>Marketing Head</p>
            <div class="team-div3">
                <i class="fa-brands fa-facebook-f"></i>
                <i class="fa-brands fa-twitter"></i> 
                <i class="fa-brands fa-linkedin-in"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-youtube"></i>
            </div>
        </div> 
        <div class="team-div2">
            <img src="assets/team-img/team-3.jpg" alt="">
            <p>Earl Martinez</p>
            <p>Marketing Head</p>
            <div class="team-div3">
                <i class="fa-brands fa-facebook-f"></i>
                <i class="fa-brands fa-twitter"></i> 
                <i class="fa-brands fa-linkedin-in"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-youtube"></i>
            </div>
        </div> 
        <div class="team-div2">
            <img src="assets/team-img/team-4.jpg" alt="">
            <p>Josephine Allard</p>
            <p>Marketing Head</p>
            <div class="team-div3">
                <i class="fa-brands fa-facebook-f"></i>
                <i class="fa-brands fa-twitter"></i> 
                <i class="fa-brands fa-linkedin-in"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-youtube"></i>
            </div>
        </div> 
    </div>
</div>
