<app-header></app-header>
<div class="home">
    <div class="home-div1">
        <p>CRYPTO CURRENCY</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit, quo et! Inventore dolore quidem eum dicta mollitia ut quasi at officiis cumque alias doloremque nam voluptate, reiciendis nihil tempore delectus?</p>
        <button><a href="#Readmore">READ MORE</a></button>
    </div>
    <div class="home-div2">
        <img src="assets/home-img/slider-img.png" alt="">
    </div>
</div>
