<div class="customers">
    <div class="customers-div1">
        <p>What says our Customers</p>
    </div>
    <div>
        <div class="customers-div2">
            <div class="customers-div3">
                <img src="assets/customers-img/client1.jpg" alt="">
                <p>Zen Court</p>
                <p>magna aliqua.Ut</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quas iure, ab dolorum, aliquam rem eaque quo nam sint vel nesciunt sapiente doloremque obcaecati voluptates natus eos cumque non incidunt officiis!</p>
            </div>
            <div class="customers-div3">
                <img src="assets/customers-img/client2.jpg" alt="">
                <p>LusDen</p>
                <p>magna aliqua.Ut</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quas iure, ab dolorum, aliquam rem eaque quo nam sint vel nesciunt sapiente doloremque obcaecati voluptates natus eos cumque non incidunt officiis!</p>
            </div>
            <div class="customers-div3">
                <img src="assets/customers-img/client1.jpg" alt="">
                <p>Zen Court</p>
                <p>magna aliqua.Ut</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quas iure, ab dolorum, aliquam rem eaque quo nam sint vel nesciunt sapiente doloremque obcaecati voluptates natus eos cumque non incidunt officiis!</p>
            </div>
            <div class="customers-div3">
                <img src="assets/customers-img/client2.jpg" alt="">
                <p>LusDen</p>
                <p>magna aliqua.Ut</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quas iure, ab dolorum, aliquam rem eaque quo nam sint vel nesciunt sapiente doloremque obcaecati voluptates natus eos cumque non incidunt officiis!</p>
            </div>
        </div>
        <div class="customers-div4">
            <i class="fa-solid fa-less-than" appPrev></i>
            <i class="fa-solid fa-greater-than" appNext></i>
        </div>
    </div>
</div>
